@page "/categoria/{categoria}"

@using OnlineBlazorApp.Data.Model
@using OnlineBlazorApp.Data.Service
@using Microsoft.AspNetCore.Http

@inject IProductoService ProductoService
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor httpContextAccessor

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row shop_box-top">

                @if (productosc != null)
                {
                    @foreach (var producto in productosc)
                    {
                        <div class="col-md-3 shop_box">
                            <a href="Single">
                                <img src="@producto.imagen" asp-append-version="true" class="img-responsive" alt="" />
                                <div class="shop_desc">
                                    <h3><a href="#">@producto.nombre</a></h3>
                                    <p>@producto.descripcion </p>
                                    @if (@producto.precioDescuento > 0)
                                    {
                                        <span class="reducedfrom">@producto.precio</span>
                                        <span class="actual">@producto.precioDescuento</span><br>
                                    }
                                    <span class="actual">@producto.precio</span><br>
                                    <ul class="buttons">
                                        @if (httpContextAccessor.HttpContext.User.Identity.Name != null)
                                        {
                                            <li class="cart"><a href="#">Add To Cart</a></li>
                                            <li class="shop_btn"><a href="#">Read More</a></li>
                                            <div class="clear"> </div>
                                        }

                                    </ul>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@code {

    [Parameter]
    public string categoria { get; set; }

    IEnumerable<Producto> productosc;

    protected override async Task OnInitializedAsync()
    {
        productosc = await ProductoService.GetProductoByCategory(categoria);

    }


}