@page "/shop"
@using OnlineBlazorApp.Data.Model
@using OnlineBlazorApp.Data.Service
@using Microsoft.AspNetCore.Http

@inject Blazored.SessionStorage.ISessionStorageService session
@inject IHttpContextAccessor httpContextAccessor


@inject IProductoService ProductoService
@inject NavigationManager NavigationManager

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row shop_box-top">
                @if (@httpContextAccessor.HttpContext.User.Identity.Name != null)
                {    
              
                }
                @if (productos != null)
                {
                    @foreach (var producto in productos)
                    {
                        <div class="col-md-3 shop_box">
                            <a href="Single">
                                <img src="@producto.imagen" asp-append-version="true" class="img-responsive" alt="" />
                                <div class="shop_desc">
                                    <h3><a href="#">@producto.nombre</a></h3>
                                    <p>@producto.descripcion </p>
                                    @if (@producto.precioDescuento > 0)
                                    {
                                        <span class="reducedfrom">@producto.precio</span>
                                        <span class="actual">@producto.precioDescuento</span><br>
                                    }
                                    else
                                    {
                                        <span class="actual">@producto.precio</span><br>
                                    }

                                    <ul class="buttons">
                                        @if (httpContextAccessor.HttpContext.User.Identity.Name != null)
                                        {
                                            <li class="cart"><a href="#">Add To Cart</a></li>
                                            <li class="shop_btn"><a href="#">Read More</a></li>
                                            <div class="clear"> </div>
                                        }

                                    </ul>
                                </div>
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@code {

    IEnumerable<Producto> productos;
    string id = null;

    protected override async Task OnInitializedAsync()
    {
        productos = await ProductoService.GetAllProductos();
      //  id = await session.GetItemAsync<string>("idu");
       
    }

    void editarRegistro(int id)
    {
        NavigationManager.NavigateTo("/");
    }
}